

@mixin text-background ($col,$col-lighter){
    background-image:linear-gradient(to top,
    $col 0%,
    $col 40%,
    $col-lighter 40%,
    $col-lighter 60%,
    $col 60%,
    $col 100%);
}
@mixin text-background-before{
    position:absolute;
    top:0;
    right:0;
    color:rgba($color-black,.1);
    z-index:-1;
    text-shadow:$text-shadow;
}

@mixin img-position{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:-2%;
}
@mixin action-default-color($default-color){
    color:rgba($default-color, .4);
    border:rgba($default-color, .4) .3vmin solid;
}
@mixin action-default-hover($default-color){
   background:rgba($default-color, .6), url(../img/mask.png);
   overflow:hidden;
}

@mixin action-border($default-color,$width, $height){
    background:
    linear-gradient(to right, ($default-color) $border-height , transparent $border-height ) 0 0, // TOP LEFT
    linear-gradient(to bottom, ($default-color) $border-height, transparent $border-height) 0 0, // TOP LEFT
    linear-gradient(to left, ($default-color) $border-height, transparent $border-height) 100% 0, // TOP RIGHT
    linear-gradient(to bottom, ($default-color) $border-height, transparent $border-height) 100% 0, // TOP RIGHT
    linear-gradient(to left, ($default-color)$border-height , transparent $border-height) 100% 100%, // BOTTOM RIGHT
    linear-gradient(to top, ($default-color) $border-height, transparent $border-height) 100% 100%, // BOTTOM RIGHT
    linear-gradient(to right, ($default-color) $border-height, transparent $border-height ) 0 100%, // BOTTOM LEFT
    linear-gradient(to top, ($default-color) $border-height, transparent $border-height) 0 100%; // BOTTOM LEFT
    background-repeat: no-repeat;
    background-size:.2vmin 8vmin, //górny lewy w dół
                    ($width) 1vmin, //górny lewy w prawo
                    1vmin 8vmin, //górny prawy w dół
                    ($width) 1vmin, //górny prawy w lewo
                    1vmin ($height), //dolny prawy w górę
                    2vmin .2vmin, //dolny prawy w lewo
                    0.2vmin ($height), //dolny lewy  w górę
                    2vmin .2vmin; //dolny lewy w prawo
                    // box-shadow: rgba($color-black, 0.3) .2vmin -.1vmin .3vmin;                  
}
@mixin shadow-before($width){
    content:'';
    position:absolute;
    top:0;left:0;
    width:$width;
    height:100%;
    z-index:-1;
    box-shadow:rgba($color-black,.3vmin) -.3vmin -.3vmin .8vmin;
}
@mixin shadow-after($width){
    content:'';
    position:absolute;
    top:0;right:0;
    width:$width;
    height:100%;
    z-index:-1;
    box-shadow:rgba($color-black,.3vmin) .3vmin -.3vmin .8vmin;
}

@mixin decision-box-properities{
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

@mixin player-box-properities{
    position:absolute;
        width:100%;
        height:55%;
        top:27%;
        left:0;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
}

@mixin flex-row-center{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}
@mixin flex-column-center{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flex-space_between{
    display:flex;
       align-items:center;
       justify-content:space-between;
       flex-wrap:wrap;
}
@mixin flex-column-left{
display:flex;
flex-direction: column;
align-items:flex-start;
justify-content:center;

 }


@mixin background-blend($color-gradient,$mask){
    background:linear-gradient(to right,rgba($color-gradient,.9)rgba($color-gradient,.9)),url($mask)center center/cover;
    background-blend-mode: multiply;
}
@mixin background-blend-popup($color-gradient){
    background:linear-gradient(to right,rgba($color-gradient,.9)rgba($color-gradient,.9)),url(../img/mask.png)center center/cover;
    background-blend-mode:multiply;
    opacity:.4;
    filter:brightness(120%);
}
@mixin background-blend-clicked($color-gradient){
    background:linear-gradient(to right,rgba($color-gradient,.7)rgba($color-gradient,.6)),url(../img/mask.png)center center/cover;
    background-blend-mode:multiply;
    opacity:.7;
    filter:brightness(110%)contrast(140%);
}