// variables - colors
$color-white:rgb(255, 255, 255);
$color-black:rgb(0, 0, 0);
$color-grey:rgb(112, 112, 112);
$color-grey-background:rgb(101, 101, 101);

$color-button-text-black:rgb(4, 9, 32);
$color-blue-glow:rgb(9, 213, 255);
$color-button-shadow:rgb(44, 114, 235);

$color-analysis:rgb(183, 180, 174);
$color-analysis-lighter:rgb(227, 225, 221);
$color-observation:rgb(242, 242, 242);
$color-observation-lighter:rgb(183, 178, 178);
$color-training:rgb(108, 129, 144);
$color-training-lighter:rgb(163, 186, 200);
$color-rest:rgb(113, 194, 153);
$color-rest-lighter:rgb(167, 233, 205);
$color-wiretapping:rgb(1, 196, 219);
$color-wiretapping-lighter:rgb(1, 234, 245);
$color-provocation:rgb(238, 216, 108);
$color-provocation-lighter:rgb(251, 255, 143);
$color-raid:rgb(212, 135, 109);
$color-raid-lighter:rgb(238, 160, 135);
$color-recon:rgb(127, 92, 167);
$color-recon-lighter:rgb(181, 141, 216);

$color-text-white:rgb(255, 245, 245);
$color-text-blue-light:rgb(187, 239, 249);
$color-text-blue-dark:rgb(73, 223, 254);


// other
$text-shadow: .4rem .4rem .5rem rgba($color-black, .3);




















