@charset "UTF-8";
@-webkit-keyframes moveInOut {
  0% {
    width: 100%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}
@keyframes moveInOut {
  0% {
    width: 100%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 1vmin 3vmin;
  width: 100vw;
  height: 100vmin;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url(../img/bg.png);
  background-size: cover;
  -webkit-backdrop-filter: contrast(130%);
          backdrop-filter: contrast(130%);
}

@font-face {
  font-family: "Russo One Regular";
  src: url(../fonts/RussoOne-Regular.ttf);
}

@font-face {
  font-family: 'Capsuula';
  src: url(../fonts/Capsuula.ttf);
}

@font-face {
  font-family: "Free Pixel";
  src: url(../fonts/FreePixel.ttf);
}

.heading-primary {
  font-family: "Russo One Regular", sans-serif;
  font-size: 3.5vmin;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2vmin;
  position: relative;
}

.heading-primary--main {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#49dffe), color-stop(40%, #49dffe), color-stop(40%, #bbeff9), color-stop(60%, #bbeff9), color-stop(60%, #49dffe), to(#49dffe));
  background-image: linear-gradient(to top, #49dffe 0%, #49dffe 40%, #bbeff9 40%, #bbeff9 60%, #49dffe 60%, #49dffe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-left: 10vmin;
  text-shadow: 0.1rem 0.1rem 0.8rem rgba(187, 239, 249, 0.5);
}

.heading-primary--main::before {
  content: "";
  width: 6vmin;
  height: .4vmin;
  border-radius: 5px;
  position: absolute;
  background: #49dffe;
  -webkit-box-shadow: 0rem 0rem 1rem rgba(187, 239, 249, 0.7);
          box-shadow: 0rem 0rem 1rem rgba(187, 239, 249, 0.7);
  top: 45%;
  left: 4%;
}

.heading-primary--main::after {
  content: "";
  width: 22vmin;
  height: .4vmin;
  border-radius: 5px;
  position: absolute;
  background: #49dffe;
  -webkit-box-shadow: 0rem 0rem 1rem rgba(187, 239, 249, 0.7);
          box-shadow: 0rem 0rem 1rem rgba(187, 239, 249, 0.7);
  top: 45%;
  right: 0;
  -webkit-transform: translatex(110%);
          transform: translatex(110%);
}

.heading-primary--raid {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d4876d), color-stop(40%, #d4876d), color-stop(40%, #eea087), color-stop(60%, #eea087), color-stop(60%, #d4876d), to(#d4876d));
  background-image: linear-gradient(to top, #d4876d 0%, #d4876d 40%, #eea087 40%, #eea087 60%, #d4876d 60%, #d4876d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.heading-primary--raid::before {
  content: 'nalot';
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  text-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
}

.heading-primary--provocation {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#eed86c), color-stop(40%, #eed86c), color-stop(40%, #fbff8f), color-stop(60%, #fbff8f), color-stop(60%, #eed86c), to(#eed86c));
  background-image: linear-gradient(to top, #eed86c 0%, #eed86c 40%, #fbff8f 40%, #fbff8f 60%, #eed86c 60%, #eed86c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}

.heading-primary--provocation::before {
  content: 'prowokacja';
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  text-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
}

.heading-primary--recon {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#7f5ca7), color-stop(40%, #7f5ca7), color-stop(40%, #b58dd8), color-stop(60%, #b58dd8), color-stop(60%, #7f5ca7), to(#7f5ca7));
  background-image: linear-gradient(to top, #7f5ca7 0%, #7f5ca7 40%, #b58dd8 40%, #b58dd8 60%, #7f5ca7 60%, #7f5ca7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}

.heading-primary--recon::before {
  content: 'rekonesans';
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  text-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
}

.heading-primary--wiretapping {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#01c4db), color-stop(40%, #01c4db), color-stop(40%, #01eaf5), color-stop(60%, #01eaf5), color-stop(60%, #01c4db), to(#01c4db));
  background-image: linear-gradient(to top, #01c4db 0%, #01c4db 40%, #01eaf5 40%, #01eaf5 60%, #01c4db 60%, #01c4db 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}

.heading-primary--wiretapping::before {
  content: 'podsłuch';
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  text-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
}

.heading-primary--training {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6c8190), color-stop(40%, #6c8190), color-stop(40%, #a3bac8), color-stop(60%, #a3bac8), color-stop(60%, #6c8190), to(#6c8190));
  background-image: linear-gradient(to top, #6c8190 0%, #6c8190 40%, #a3bac8 40%, #a3bac8 60%, #6c8190 60%, #6c8190 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}

.heading-primary--training::before {
  content: 'trening';
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  text-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
}

.heading-primary--rest {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#71c299), color-stop(40%, #71c299), color-stop(40%, #a7e9cd), color-stop(60%, #a7e9cd), color-stop(60%, #71c299), to(#71c299));
  background-image: linear-gradient(to top, #71c299 0%, #71c299 40%, #a7e9cd 40%, #a7e9cd 60%, #71c299 60%, #71c299 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  display: inline-block;
  max-width: 50%;
}

.heading-primary--rest::before {
  content: 'Odpoczynek';
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  text-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
}

.heading-primary--rest::after {
  content: "";
  width: 3vmin;
  height: .15vmin;
  border-radius: 5px;
  position: absolute;
  background: #d4876d;
  -webkit-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.7);
  top: 45%;
  right: 0;
  -webkit-transform: translatex(110%);
          transform: translatex(110%);
}

.heading-primary--observation {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), color-stop(40%, #f2f2f2), color-stop(40%, #b7b2b2), color-stop(60%, #b7b2b2), color-stop(60%, #f2f2f2), to(#f2f2f2));
  background-image: linear-gradient(to top, #f2f2f2 0%, #f2f2f2 40%, #b7b2b2 40%, #b7b2b2 60%, #f2f2f2 60%, #f2f2f2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  max-width: 50%;
}

.heading-primary--observation::before {
  content: 'Obserwacja';
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  text-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
}

.heading-primary--observation::after {
  content: "";
  width: 3vmin;
  height: .1vmin;
  border-radius: 5px;
  position: absolute;
  background: #d4876d;
  -webkit-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.7);
  top: 45%;
  right: 0;
  -webkit-transform: translatex(110%);
          transform: translatex(110%);
}

.heading-primary--analysis {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#b7b4ae), color-stop(40%, #b7b4ae), color-stop(40%, #e3e1dd), color-stop(60%, #e3e1dd), color-stop(60%, #b7b4ae), to(#b7b4ae));
  background-image: linear-gradient(to top, #b7b4ae 0%, #b7b4ae 40%, #e3e1dd 40%, #e3e1dd 60%, #b7b4ae 60%, #b7b4ae 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  max-width: 50%;
}

.heading-primary--analysis::before {
  content: 'Analiza';
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  text-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
}

.heading-primary--analysis::after {
  content: "";
  width: 11vmin;
  height: .2vmin;
  border-radius: 5px;
  position: absolute;
  background: #d4876d;
  -webkit-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.7);
  top: 45%;
  right: 0;
  -webkit-transform: translatex(105%);
          transform: translatex(105%);
}

.heading-secondary {
  font-family: "Russo One Regular", sans-serif;
  font-size: 2.2vmin;
  color: #fff5f5;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.1vmin;
  mix-blend-mode: lighten;
}

.btn__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-filter: contrast(120%);
          filter: contrast(120%);
  font-size: 1.6vmin;
  letter-spacing: .1vmin;
  opacity: 1;
  z-index: 2;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn__text:hover {
  opacity: .7;
  -webkit-transform: translateY(0.1vmin) translate(-50%, -50%);
          transform: translateY(0.1vmin) translate(-50%, -50%);
}

.btn-popup-text {
  font-family: "Russo One Regular", sans-serif;
  font-size: 1.8vmin;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.2vmin;
  text-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-popup-text--smaller {
  font-size: 1.3vmin;
}

.timer__text {
  font-family: "Russo One Regular", sans-serif;
  font-size: 1.3vmin;
  text-transform: uppercase;
  font-weight: 400;
  color: #09d5ff;
}

.timer__count {
  font-family: "Free Pixel", sans-serif;
  font-weight: 300;
  color: #09d5ff;
  font-size: 3vmin;
}

.decision__text {
  font-family: "Russo One Regular", sans-serif;
  font-size: 2vmin;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 1vmin;
}

.dice__text {
  font-family: "Russo One Regular", sans-serif;
  font-size: 2vmin;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff5f5;
  z-index: 2;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.analysis__text {
  font-family: "Russo One Regular", sans-serif;
  font-size: 2.5vmin;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 1vmin;
  line-height: 0.9;
}

.analysis__text--smaller {
  font-family: "Russo One Regular", sans-serif;
  font-size: 1.8vmin;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 1vmin;
}

.u-padding-button {
  padding: 1vmin 1vmin !important;
}

.btn, .btn:link, .btn:visited {
  font-family: "Russo One Regular";
  color: #040920;
  background: transparent;
  display: inline-block;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
  position: relative;
  border: 0.5vmin solid #09d5ff;
  border-radius: 2%;
  -webkit-box-shadow: 0vmin 0.1vmin 0.1vmin 0.1vmin rgba(44, 114, 235, 0.7);
          box-shadow: 0vmin 0.1vmin 0.1vmin 0.1vmin rgba(44, 114, 235, 0.7);
  z-index: 20;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn::before {
  content: "";
  background: rgba(101, 101, 101, 0.8);
  backdrop-filter: blur(1.2vmin) brightness(200%);
  -webkit-backdrop-filter: blur(1.2vmin) brightness(200%);
  -webkit-box-shadow: inset 0vmin 0.1vmin 0.1vmin 0.1vmin rgba(44, 114, 235, 0.7);
          box-shadow: inset 0vmin 0.1vmin 0.1vmin 0.1vmin rgba(44, 114, 235, 0.7);
}

.btn:hover {
  -webkit-box-shadow: 0vmin 0.2vmin 0.8vmin 0.1vmin rgba(44, 114, 235, 0.7);
          box-shadow: 0vmin 0.2vmin 0.8vmin 0.1vmin rgba(44, 114, 235, 0.7);
}

.btn:hover::before {
  -webkit-box-shadow: inset 0vmin 0.2vmin 0.8vmin 0.1vmin rgba(44, 114, 235, 0.7);
          box-shadow: inset 0vmin 0.2vmin 0.8vmin 0.1vmin rgba(44, 114, 235, 0.7);
}

.btn:active, .btn:focus {
  -webkit-filter: brightness(170%);
          filter: brightness(170%);
}

.btn--decision {
  width: 16vmin;
  height: 6vmin;
  position: Absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 1;
}

.btn--decision::before {
  content: "";
  width: 15.4vmin;
  height: 5.2vmin;
  z-index: -10;
  position: Absolute;
  z-index: -1;
  top: -4%;
  left: -1%;
}

.btn--change {
  width: 18vmin;
  height: 4.4vmin;
  position: Absolute;
  top: 91%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 1;
}

.btn--change::before {
  content: "";
  width: 17.4vmin;
  height: 3.6vmin;
  z-index: -10;
  position: Absolute;
  z-index: -1;
  top: -4%;
  left: -1%;
}

.btn--accept {
  width: 16vmin;
  height: 4vmin;
  position: Absolute;
  top: 83%;
  left: 46%;
}

.btn--accept::before {
  content: "";
  width: 15.3vmin;
  height: 3.3vmin;
  z-index: -2;
  position: Absolute;
  top: -3%;
  left: -1%;
}

.btn-header, .btn-header:link, .btn-header:visited {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-box-shadow: 0.3vmin 0.3vmin 0.6vmin rgba(4, 9, 32, 0.7);
          box-shadow: 0.3vmin 0.3vmin 0.6vmin rgba(4, 9, 32, 0.7);
}

.btn-header:hover {
  -webkit-transform: translateY(0.2vmin);
          transform: translateY(0.2vmin);
  -webkit-box-shadow: 0.5vmin 0.5vmin 0.8vmin rgba(4, 9, 32, 0.7);
          box-shadow: 0.5vmin 0.5vmin 0.8vmin rgba(4, 9, 32, 0.7);
}

.btn-header:active, .btn-header:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-transform: translateY(0.1vmin);
          transform: translateY(0.1vmin);
}

.btn-header--function {
  height: 8vmin;
  width: 21vmin;
  background: url("../img/zakończ dzień.png") no-repeat center/cover;
}

.btn-header--tylda {
  height: 8vmin;
  width: 8vmin;
  background: url("../img/tylda.png") no-repeat center/contain;
}

.btn-popup {
  display: inline-block;
  text-align: center;
  width: 32%;
  height: auto;
  padding: .9vmin 1vmin;
  border-radius: 3vmin;
  margin-bottom: .8vmin;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background: transparent;
  border: none;
  -webkit-transition: all .5;
  transition: all .5;
}

.btn-popup::before {
  content: '';
  position: Absolute;
  top: 1%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  -webkit-filter: contrast(150%) brightness(20%);
          filter: contrast(150%) brightness(20%);
  z-index: -1;
  background: url("../img/mask.png") no-repeat center/cover;
  overflow: hidden;
}

.btn-popup--raid {
  color: rgba(212, 135, 109, 0.4);
  border: rgba(212, 135, 109, 0.4) 0.2vmin solid;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn-popup--raid:hover {
  color: rgba(255, 255, 255, 0.5);
  background: rgba(212, 135, 109, 0.5);
  cursor: pointer;
}

.btn-popup--raid:hover > ::before {
  -webkit-filter: contrast(150%) brightness(120%);
          filter: contrast(150%) brightness(120%);
}

.btn-popup--provocation {
  color: rgba(238, 216, 108, 0.4);
  border: rgba(238, 216, 108, 0.4) 0.2vmin solid;
}

.btn-popup--recon {
  color: rgba(127, 92, 167, 0.4);
  border: rgba(127, 92, 167, 0.4) 0.2vmin solid;
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.btn-popup--wiretapping {
  color: rgba(1, 196, 219, 0.4);
  border: rgba(1, 196, 219, 0.4) 0.2vmin solid;
}

.btn-popup--training {
  color: rgba(92, 104, 116, 0.9);
  border: rgba(108, 129, 144, 0.8) 0.3vmin solid;
}

.timer__box {
  position: absolute;
  top: 0;
  right: 0;
  height: 7vmin;
  width: 25vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/timer-bg.png") no-repeat center/cover;
  -webkit-box-shadow: 0.3vmin 0.3vmin 0.6vmin rgba(4, 9, 32, 0.7);
          box-shadow: 0.3vmin 0.3vmin 0.6vmin rgba(4, 9, 32, 0.7);
}

.footer {
  width: 97vw;
  height: 7vmin;
  position: Absolute;
  left: 0;
  top: 91%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: -1;
}

.footer__logo-box {
  width: 25vmin;
  height: auto;
  display: inline;
  text-align: Center;
}

.footer__logo-box > img {
  width: 100%;
}

.footer__logogame-box {
  width: 15vmin;
  height: auto;
  display: inline;
  text-align: right;
}

.footer__logogame-box > img {
  width: 50%;
}

.main-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 1%;
  grid-row-gap: 2%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.main-grid--7-8players {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.main-grid--5-6players {
  width: 75%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.main-grid--3-4players {
  width: 50%;
  grid-column-gap: 2%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.action--raid {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: raid;
}

.action--provocation {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: provocation;
}

.action--recon {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: recon;
}

.action--wiretapping {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: wiretapping;
}

.action--training {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: training;
}

.action--other {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: other;
}

.popup-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-gap: 2.5vmin;
      grid-template-areas: "raid training" "provocation training" "recon other" "wiretapping other";
}

.header {
  width: 91vw;
  height: 9vmin;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 51% 22% 20%;
      grid-template-columns: 51% 22% 20%;
  grid-gap: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__text-box {
  max-width: 80%;
  display: inline-block;
}

.header__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__popup {
  width: 80%;
  height: 5%;
  display: inline-block;
  margin: 2.4vmin 5vmin 3.6vmin 2vmin;
}

.main {
  width: 100%;
  height: 100%;
  max-width: 85vw;
  max-height: 80vmin;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.player-box {
  border: 2px solid #707070;
  position: relative;
}

.player-box__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -2%;
}

.player-box__img--smaller {
  width: 33%;
  height: auto;
  position: absolute;
  top: -5%;
  left: -5%;
}

.player-box__name {
  position: absolute;
  top: 16%;
  left: 52%;
  width: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.player-box__name--filled {
  position: Absolute;
  top: 13%;
  left: 65%;
  width: 58%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.player-box__link {
  text-decoration: none;
  color: #040920;
}

.player-box__decision {
  position: absolute;
  width: 100%;
  height: 55%;
  top: 27%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.player-box__decision .decision-box {
  width: 92%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0.2vmin 0.3vmin 0.5vmin 0.2vmin rgba(0, 0, 0, 0.5);
          box-shadow: 0.2vmin 0.3vmin 0.5vmin 0.2vmin rgba(0, 0, 0, 0.5);
}

.player-box__decision .decision-box__left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: black;
}

.player-box__decision .decision-box__left--raid {
  background-color: #d4876d;
}

.player-box__decision .decision-box__left--provocation {
  background-color: #eed86c;
}

.player-box__decision .decision-box__left--recon {
  background-color: #7f5ca7;
}

.player-box__decision .decision-box__left--wiretapping {
  background-color: #01c4db;
}

.player-box__decision .decision-box__left--training {
  background-color: #6c8190;
  width: 35%;
}

.player-box__decision .decision-box__left--rest {
  background-color: #71c299;
}

.player-box__decision .decision-box__left--observation {
  background-color: #f2f2f2;
}

.player-box__decision .decision-box__left--analysis {
  background-color: #b7b4ae;
}

.player-box__decision .decision-box__right {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff5f5;
}

.player-box__decision .decision-box__right--raid {
  background: -webkit-gradient(linear, left top, right top, from(rgba(212, 135, 109, 0.9))), url("../img/mask__box-train.png") center center/cover;
  background: linear-gradient(to right, rgba(212, 135, 109, 0.9) rgba(212, 135, 109, 0.9)), url("../img/mask__box-train.png") center center/cover;
  background-blend-mode: multiply;
}

.player-box__decision .decision-box__right--provocation {
  background: -webkit-gradient(linear, left top, right top, from(rgba(238, 216, 108, 0.9))), url("../img/mask__box-train.png") center center/cover;
  background: linear-gradient(to right, rgba(238, 216, 108, 0.9) rgba(238, 216, 108, 0.9)), url("../img/mask__box-train.png") center center/cover;
  background-blend-mode: multiply;
}

.player-box__decision .decision-box__right--recon {
  background: -webkit-gradient(linear, left top, right top, from(rgba(127, 92, 167, 0.9))), url("../img/mask__box-train.png") center center/cover;
  background: linear-gradient(to right, rgba(127, 92, 167, 0.9) rgba(127, 92, 167, 0.9)), url("../img/mask__box-train.png") center center/cover;
  background-blend-mode: multiply;
}

.player-box__decision .decision-box__right--wiretapping {
  background: -webkit-gradient(linear, left top, right top, from(rgba(1, 196, 219, 0.9))), url("../img/mask__box-train.png") center center/cover;
  background: linear-gradient(to right, rgba(1, 196, 219, 0.9) rgba(1, 196, 219, 0.9)), url("../img/mask__box-train.png") center center/cover;
  background-blend-mode: multiply;
}

.player-box__decision .decision-box__right--training {
  width: 65%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(108, 129, 144, 0.9))), url("../img/mask__box-training.png") center center/cover;
  background: linear-gradient(to right, rgba(108, 129, 144, 0.9) rgba(108, 129, 144, 0.9)), url("../img/mask__box-training.png") center center/cover;
  background-blend-mode: multiply;
}

.player-box__decision .decision-box__right--rest {
  background: -webkit-gradient(linear, left top, right top, from(rgba(113, 194, 153, 0.9))), url("../img/mask__box-clock.png") center center/cover;
  background: linear-gradient(to right, rgba(113, 194, 153, 0.9) rgba(113, 194, 153, 0.9)), url("../img/mask__box-clock.png") center center/cover;
  background-blend-mode: multiply;
}

.player-box__decision .decision-box__right--observation {
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 242, 242, 0.9))), url("../img/mask__box-clock.png") center center/cover;
  background: linear-gradient(to right, rgba(242, 242, 242, 0.9) rgba(242, 242, 242, 0.9)), url("../img/mask__box-clock.png") center center/cover;
  background-blend-mode: multiply;
}

.player-box__decision .decision-box__right--analysis {
  background: -webkit-gradient(linear, left top, right top, from(rgba(183, 180, 174, 0.9))), url("../img/mask__box-clock.png") center center/cover;
  background: linear-gradient(to right, rgba(183, 180, 174, 0.9) rgba(183, 180, 174, 0.9)), url("../img/mask__box-clock.png") center center/cover;
  background-blend-mode: multiply;
}

.player-box__analysis {
  position: absolute;
  width: 100%;
  height: 55%;
  top: 27%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.player-box__analysis .analysis-box {
  width: 92%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0.2vmin 0.3vmin 0.5vmin 0.2vmin rgba(0, 0, 0, 0.5);
          box-shadow: 0.2vmin 0.3vmin 0.5vmin 0.2vmin rgba(0, 0, 0, 0.5);
}

.player-box__analysis .analysis-box__left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #b7b4ae;
  color: black;
}

.player-box__analysis .analysis-box__right {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: -webkit-gradient(linear, left top, right top, from(rgba(227, 225, 221, 0.6))), url(../img/mask__analysis.png) center center/cover;
  background: linear-gradient(to right, rgba(227, 225, 221, 0.6) rgba(227, 225, 221, 0.6)), url(../img/mask__analysis.png) center center/cover;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  background-blend-mode: multiply;
}

.player-box__analysis .analysis-effect {
  width: 92%;
  height: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-box__analysis .analysis-effect-left, .player-box__analysis .analysis-effect-right {
  width: 49%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.2vmin 0.3vmin 0.5vmin 0.2vmin rgba(0, 0, 0, 0.5);
          box-shadow: 0.2vmin 0.3vmin 0.5vmin 0.2vmin rgba(0, 0, 0, 0.5);
}

.player-box__analysis .analysis-effect-top {
  width: 100%;
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff5f5;
}

.player-box__analysis .analysis-effect-top--raid {
  background: -webkit-gradient(linear, left top, right top, from(rgba(212, 135, 109, 0.9))), url("../img/mask__analysis-effect.png") center center/cover;
  background: linear-gradient(to right, rgba(212, 135, 109, 0.9) rgba(212, 135, 109, 0.9)), url("../img/mask__analysis-effect.png") center center/cover;
  background-blend-mode: multiply;
}

.player-box__analysis .analysis-effect-top--provocation {
  background: -webkit-gradient(linear, left top, right top, from(rgba(238, 216, 108, 0.9))), url("../img/mask__analysis-effect.png") center center/cover;
  background: linear-gradient(to right, rgba(238, 216, 108, 0.9) rgba(238, 216, 108, 0.9)), url("../img/mask__analysis-effect.png") center center/cover;
  background-blend-mode: multiply;
}

.player-box__analysis .analysis-effect-top--recon {
  background: -webkit-gradient(linear, left top, right top, from(rgba(181, 141, 216, 0.9))), url("../img/mask__analysis-effect.png") center center/cover;
  background: linear-gradient(to right, rgba(181, 141, 216, 0.9) rgba(181, 141, 216, 0.9)), url("../img/mask__analysis-effect.png") center center/cover;
  background-blend-mode: multiply;
}

.player-box__analysis .analysis-effect-top--wiretapping {
  background: -webkit-gradient(linear, left top, right top, from(rgba(1, 196, 219, 0.9))), url("../img/mask__analysis-effect.png") center center/cover;
  background: linear-gradient(to right, rgba(1, 196, 219, 0.9) rgba(1, 196, 219, 0.9)), url("../img/mask__analysis-effect.png") center center/cover;
  background-blend-mode: multiply;
}

.player-box__analysis .analysis-effect-bottom {
  width: 100%;
  height: 45%;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-box__analysis .analysis-effect-bottom--raid {
  background-color: #d4876d;
}

.player-box__analysis .analysis-effect-bottom--provocation {
  background-color: #eed86c;
}

.player-box__analysis .analysis-effect-bottom--recon {
  background-color: #b58dd8;
}

.player-box__analysis .analysis-effect-bottom--wiretapping {
  background-color: #01c4db;
}

.player-box__analysis .analysis__dices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.player-box__analysis .analysis__dices .dice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 70%;
  position: relative;
}

.player-box__analysis .analysis__dices .dice__img {
  width: 75%;
  height: 100%;
  position: Absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.form__name .name-input {
  border: none;
  background: transparent;
  text-align: center;
  width: 90%;
  -webkit-transition: all .4s;
  transition: all .4s;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.form__name .name-input::-webkit-input-placeholder {
  color: #fff5f5;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.form__name .name-input:-ms-input-placeholder {
  color: #fff5f5;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.form__name .name-input::-ms-input-placeholder {
  color: #fff5f5;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.form__name .name-input::placeholder {
  color: #fff5f5;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.form__name .name-input:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.form__name .name-input:focus {
  outline: none;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  text-shadow: 0rem 0rem 0.4rem #fff5f5;
}

.form__name-icon {
  position: Absolute;
  top: 10%;
  left: 90%;
  width: 10%;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.form__name:hover .form__name-icon,
.form__name:focus .form__name-icon {
  opacity: 1;
}

.action {
  margin: 3vmin 0;
}

.action--raid, .action--provocation, .action--recon, .action--wiretapping, .action--training {
  position: relative;
}

.action--raid-header, .action--provocation-header, .action--recon-header, .action--wiretapping-header, .action--training-header {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.action--raid {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.2vmin, #d4876d), color-stop(0.2vmin, transparent)) 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0.2vmin, #d4876d), color-stop(0.2vmin, transparent)) 0 0, -webkit-gradient(linear, right top, left top, color-stop(0.2vmin, #d4876d), color-stop(0.2vmin, transparent)) 100% 0, -webkit-gradient(linear, left top, left bottom, color-stop(0.2vmin, #d4876d), color-stop(0.2vmin, transparent)) 100% 0, -webkit-gradient(linear, right top, left top, color-stop(0.2vmin, #d4876d), color-stop(0.2vmin, transparent)) 100% 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.2vmin, #d4876d), color-stop(0.2vmin, transparent)) 100% 100%, -webkit-gradient(linear, left top, right top, color-stop(0.2vmin, #d4876d), color-stop(0.2vmin, transparent)) 0 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.2vmin, #d4876d), color-stop(0.2vmin, transparent)) 0 100%;
  background: linear-gradient(to right, #d4876d 0.2vmin, transparent 0.2vmin) 0 0, linear-gradient(to bottom, #d4876d 0.2vmin, transparent 0.2vmin) 0 0, linear-gradient(to left, #d4876d 0.2vmin, transparent 0.2vmin) 100% 0, linear-gradient(to bottom, #d4876d 0.2vmin, transparent 0.2vmin) 100% 0, linear-gradient(to left, #d4876d 0.2vmin, transparent 0.2vmin) 100% 100%, linear-gradient(to top, #d4876d 0.2vmin, transparent 0.2vmin) 100% 100%, linear-gradient(to right, #d4876d 0.2vmin, transparent 0.2vmin) 0 100%, linear-gradient(to top, #d4876d 0.2vmin, transparent 0.2vmin) 0 100%;
  background-repeat: no-repeat;
  background-size: 0.2vmin 8vmin, 36% 1vmin, 1vmin 8vmin, 36% 1vmin, 1vmin 0vmin, 2vmin 0.2vmin, 0.2vmin 0vmin, 2vmin 0.2vmin;
}

.action--raid::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 38%;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) -0.3vmin -0.3vmin 0.8vmin;
          box-shadow: rgba(0, 0, 0, 0.2) -0.3vmin -0.3vmin 0.8vmin;
}

.action--raid::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 38%;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0.3vmin -0.3vmin 0.8vmin;
          box-shadow: rgba(0, 0, 0, 0.2) 0.3vmin -0.3vmin 0.8vmin;
}

.action--provocation {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.2vmin, #eed86c), color-stop(0.2vmin, transparent)) 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0.2vmin, #eed86c), color-stop(0.2vmin, transparent)) 0 0, -webkit-gradient(linear, right top, left top, color-stop(0.2vmin, #eed86c), color-stop(0.2vmin, transparent)) 100% 0, -webkit-gradient(linear, left top, left bottom, color-stop(0.2vmin, #eed86c), color-stop(0.2vmin, transparent)) 100% 0, -webkit-gradient(linear, right top, left top, color-stop(0.2vmin, #eed86c), color-stop(0.2vmin, transparent)) 100% 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.2vmin, #eed86c), color-stop(0.2vmin, transparent)) 100% 100%, -webkit-gradient(linear, left top, right top, color-stop(0.2vmin, #eed86c), color-stop(0.2vmin, transparent)) 0 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.2vmin, #eed86c), color-stop(0.2vmin, transparent)) 0 100%;
  background: linear-gradient(to right, #eed86c 0.2vmin, transparent 0.2vmin) 0 0, linear-gradient(to bottom, #eed86c 0.2vmin, transparent 0.2vmin) 0 0, linear-gradient(to left, #eed86c 0.2vmin, transparent 0.2vmin) 100% 0, linear-gradient(to bottom, #eed86c 0.2vmin, transparent 0.2vmin) 100% 0, linear-gradient(to left, #eed86c 0.2vmin, transparent 0.2vmin) 100% 100%, linear-gradient(to top, #eed86c 0.2vmin, transparent 0.2vmin) 100% 100%, linear-gradient(to right, #eed86c 0.2vmin, transparent 0.2vmin) 0 100%, linear-gradient(to top, #eed86c 0.2vmin, transparent 0.2vmin) 0 100%;
  background-repeat: no-repeat;
  background-size: 0.2vmin 8vmin, 25% 1vmin, 1vmin 8vmin, 25% 1vmin, 1vmin 0vmin, 2vmin 0.2vmin, 0.2vmin 0vmin, 2vmin 0.2vmin;
}

.action--provocation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 26%;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) -0.3vmin -0.3vmin 0.8vmin;
          box-shadow: rgba(0, 0, 0, 0.2) -0.3vmin -0.3vmin 0.8vmin;
}

.action--provocation::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 26%;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0.3vmin -0.3vmin 0.8vmin;
          box-shadow: rgba(0, 0, 0, 0.2) 0.3vmin -0.3vmin 0.8vmin;
}

.action--recon {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.2vmin, #7f5ca7), color-stop(0.2vmin, transparent)) 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0.2vmin, #7f5ca7), color-stop(0.2vmin, transparent)) 0 0, -webkit-gradient(linear, right top, left top, color-stop(0.2vmin, #7f5ca7), color-stop(0.2vmin, transparent)) 100% 0, -webkit-gradient(linear, left top, left bottom, color-stop(0.2vmin, #7f5ca7), color-stop(0.2vmin, transparent)) 100% 0, -webkit-gradient(linear, right top, left top, color-stop(0.2vmin, #7f5ca7), color-stop(0.2vmin, transparent)) 100% 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.2vmin, #7f5ca7), color-stop(0.2vmin, transparent)) 100% 100%, -webkit-gradient(linear, left top, right top, color-stop(0.2vmin, #7f5ca7), color-stop(0.2vmin, transparent)) 0 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.2vmin, #7f5ca7), color-stop(0.2vmin, transparent)) 0 100%;
  background: linear-gradient(to right, #7f5ca7 0.2vmin, transparent 0.2vmin) 0 0, linear-gradient(to bottom, #7f5ca7 0.2vmin, transparent 0.2vmin) 0 0, linear-gradient(to left, #7f5ca7 0.2vmin, transparent 0.2vmin) 100% 0, linear-gradient(to bottom, #7f5ca7 0.2vmin, transparent 0.2vmin) 100% 0, linear-gradient(to left, #7f5ca7 0.2vmin, transparent 0.2vmin) 100% 100%, linear-gradient(to top, #7f5ca7 0.2vmin, transparent 0.2vmin) 100% 100%, linear-gradient(to right, #7f5ca7 0.2vmin, transparent 0.2vmin) 0 100%, linear-gradient(to top, #7f5ca7 0.2vmin, transparent 0.2vmin) 0 100%;
  background-repeat: no-repeat;
  background-size: 0.2vmin 8vmin, 25% 1vmin, 1vmin 8vmin, 25% 1vmin, 1vmin 0vmin, 2vmin 0.2vmin, 0.2vmin 0vmin, 2vmin 0.2vmin;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.action--recon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) -0.3vmin -0.3vmin 0.8vmin;
          box-shadow: rgba(0, 0, 0, 0.2) -0.3vmin -0.3vmin 0.8vmin;
}

.action--recon::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0.3vmin -0.3vmin 0.8vmin;
          box-shadow: rgba(0, 0, 0, 0.2) 0.3vmin -0.3vmin 0.8vmin;
}

.action--wiretapping {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.2vmin, #01c4db), color-stop(0.2vmin, transparent)) 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0.2vmin, #01c4db), color-stop(0.2vmin, transparent)) 0 0, -webkit-gradient(linear, right top, left top, color-stop(0.2vmin, #01c4db), color-stop(0.2vmin, transparent)) 100% 0, -webkit-gradient(linear, left top, left bottom, color-stop(0.2vmin, #01c4db), color-stop(0.2vmin, transparent)) 100% 0, -webkit-gradient(linear, right top, left top, color-stop(0.2vmin, #01c4db), color-stop(0.2vmin, transparent)) 100% 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.2vmin, #01c4db), color-stop(0.2vmin, transparent)) 100% 100%, -webkit-gradient(linear, left top, right top, color-stop(0.2vmin, #01c4db), color-stop(0.2vmin, transparent)) 0 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.2vmin, #01c4db), color-stop(0.2vmin, transparent)) 0 100%;
  background: linear-gradient(to right, #01c4db 0.2vmin, transparent 0.2vmin) 0 0, linear-gradient(to bottom, #01c4db 0.2vmin, transparent 0.2vmin) 0 0, linear-gradient(to left, #01c4db 0.2vmin, transparent 0.2vmin) 100% 0, linear-gradient(to bottom, #01c4db 0.2vmin, transparent 0.2vmin) 100% 0, linear-gradient(to left, #01c4db 0.2vmin, transparent 0.2vmin) 100% 100%, linear-gradient(to top, #01c4db 0.2vmin, transparent 0.2vmin) 100% 100%, linear-gradient(to right, #01c4db 0.2vmin, transparent 0.2vmin) 0 100%, linear-gradient(to top, #01c4db 0.2vmin, transparent 0.2vmin) 0 100%;
  background-repeat: no-repeat;
  background-size: 0.2vmin 8vmin, 30% 1vmin, 1vmin 8vmin, 30% 1vmin, 1vmin 0vmin, 2vmin 0.2vmin, 0.2vmin 0vmin, 2vmin 0.2vmin;
}

.action--wiretapping::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 29%;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) -0.3vmin -0.3vmin 0.8vmin;
          box-shadow: rgba(0, 0, 0, 0.2) -0.3vmin -0.3vmin 0.8vmin;
}

.action--wiretapping::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 29%;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0.3vmin -0.3vmin 0.8vmin;
          box-shadow: rgba(0, 0, 0, 0.2) 0.3vmin -0.3vmin 0.8vmin;
}

.action--training {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.2vmin, #6c8190), color-stop(0.2vmin, transparent)) 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0.2vmin, #6c8190), color-stop(0.2vmin, transparent)) 0 0, -webkit-gradient(linear, right top, left top, color-stop(0.2vmin, #6c8190), color-stop(0.2vmin, transparent)) 100% 0, -webkit-gradient(linear, left top, left bottom, color-stop(0.2vmin, #6c8190), color-stop(0.2vmin, transparent)) 100% 0, -webkit-gradient(linear, right top, left top, color-stop(0.2vmin, #6c8190), color-stop(0.2vmin, transparent)) 100% 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.2vmin, #6c8190), color-stop(0.2vmin, transparent)) 100% 100%, -webkit-gradient(linear, left top, right top, color-stop(0.2vmin, #6c8190), color-stop(0.2vmin, transparent)) 0 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.2vmin, #6c8190), color-stop(0.2vmin, transparent)) 0 100%;
  background: linear-gradient(to right, #6c8190 0.2vmin, transparent 0.2vmin) 0 0, linear-gradient(to bottom, #6c8190 0.2vmin, transparent 0.2vmin) 0 0, linear-gradient(to left, #6c8190 0.2vmin, transparent 0.2vmin) 100% 0, linear-gradient(to bottom, #6c8190 0.2vmin, transparent 0.2vmin) 100% 0, linear-gradient(to left, #6c8190 0.2vmin, transparent 0.2vmin) 100% 100%, linear-gradient(to top, #6c8190 0.2vmin, transparent 0.2vmin) 100% 100%, linear-gradient(to right, #6c8190 0.2vmin, transparent 0.2vmin) 0 100%, linear-gradient(to top, #6c8190 0.2vmin, transparent 0.2vmin) 0 100%;
  background-repeat: no-repeat;
  background-size: 0.2vmin 8vmin, 33% 1vmin, 1vmin 8vmin, 33% 1vmin, 1vmin 14.55vmin, 2vmin 0.2vmin, 0.2vmin 14.55vmin, 2vmin 0.2vmin;
}

.action--training::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 34%;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) -0.3vmin -0.3vmin 0.8vmin;
          box-shadow: rgba(0, 0, 0, 0.2) -0.3vmin -0.3vmin 0.8vmin;
  z-index: -1;
}

.action--training::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 34%;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0.3vmin -0.3vmin 0.8vmin;
          box-shadow: rgba(0, 0, 0, 0.2) 0.3vmin -0.3vmin 0.8vmin;
  z-index: -1;
}

.action__button-box {
  position: absolute;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.action__button-box--raid, .action__button-box--provocation, .action__button-box--recon, .action__button-box--wiretapping {
  left: 50%;
  top: 110%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.action__button-box--training {
  top: 68%;
  left: 50%;
  -webkit-transform: translate(-50%, -52%);
          transform: translate(-50%, -52%);
}

.action--other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.action__form {
  display: inline;
  position: absolute;
  top: 0;
  left: 50%;
}

.action__form--group {
  display: inline;
}

.action__input {
  display: none;
}

.action__input-label {
  position: relative;
  cursor: pointer;
  margin: 0 2vmin;
}

.action__input-checkbox {
  position: absolute;
  top: .5vmin;
  left: -.5vmin;
  width: 3vmin;
  height: 3vmin;
  border-radius: 50%;
  background: transparent;
  border: #8be5fa solid 0.1vmin;
}

.action__input-checkbox::after {
  content: '';
  display: inline-block;
  width: 3vmin;
  height: 3vmin;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #09d5ff;
  border: #8be5fa solid 0.1vmin;
  -webkit-box-shadow: #8be5fa 0vmin 0vmin 1vmin 0.2vmin;
          box-shadow: #8be5fa 0vmin 0vmin 1vmin 0.2vmin;
  opacity: 0;
}

.action__input:checked ~ .action__input-label .action__input-checkbox::after {
  opacity: 1;
}

.popup {
  width: 100vw;
  height: 105vmin;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 48%;
  left: 50%;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  display: block;
  -webkit-backdrop-filter: blur(1.5vmin) brightness(30%);
          backdrop-filter: blur(1.5vmin) brightness(30%);
  -webkit-transition: all 0.3;
  transition: all 0.3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup:target {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  position: fixed;
  display: block;
}

.popup__content {
  width: 64vw;
  height: 80vmin;
  position: Absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../img/bg.png);
  background-size: cover;
  border-radius: 1.2vmin;
  -webkit-box-shadow: 1vmin 1.4vmin 2vmin 0.7vmin rgba(0, 0, 0, 0.7);
          box-shadow: 1vmin 1.4vmin 2vmin 0.7vmin rgba(0, 0, 0, 0.7);
}

.popup__actions {
  width: 95%;
  height: 72%;
  margin: 0 auto;
}
/*# sourceMappingURL=index.css.map */