.action{
//  border:1px solid blue;
   margin: 3vmin 0;

   &--raid,
   &--provocation,
   &--recon,
   &--wiretapping,
   &--training,
   &--raid-pl, 
   &--provocation-pl,
   &--recon-pl,
   &--wiretapping-pl,
   &--training-pl,
   &--raid-eng,
   &--provocation-eng,
   &--recon-eng,
   &--wiretapping-eng,
   &--training-eng

    {  
        position:relative;
       &-header{
           position:absolute;
           left:50%;
           transform: translate(-50%, -50%);
       }
    
   }
   &--raid{
     &-pl{      
       @include action-border($color-raid,36%,0vmin);
       &::before{
           @include shadow-before(38%);
       }
       &::after{
           @include shadow-after(38%);
       }
    } 

       &-eng{
        @include action-border($color-raid,40%,0vmin);
        &::before{
            @include shadow-before(40%);
        }
        &::after{
            @include shadow-after(40%);
        }

       }
   }

   &--provocation{

    &-pl{
       @include action-border($color-provocation,25%,0vmin);
       &::before{
        @include shadow-before(26%);
    }
    &::after{
        @include shadow-after(26%);
    }
        }
        &-eng{
            @include action-border($color-provocation,26%,0vmin);
            &::before{
            @include shadow-before(27%);
        }
        &::after{
            @include shadow-after(27%);
        }

       }
   }
   &--recon{

    &-pl{
       @include action-border($color-recon,25%,0vmin);
        
       &::before{
        @include shadow-before(25%);
    }
    &::after{
        @include shadow-after(25%);
    }
    }

    &-eng{
        @include action-border($color-recon,38%,0vmin);
        &::before{
        @include shadow-before(38%);
    }
    &::after{
        @include shadow-after(38%);
    }

   }
   }
   &--wiretapping{

    &-pl{
       @include action-border($color-wiretapping,30%,0vmin);
       &::before{
        @include shadow-before(29%);
    }
    &::after{
        @include shadow-after(29%);
    }
    }
    &-eng{
        @include action-border($color-wiretapping,26%,0vmin);
        &::before{
        @include shadow-before(27%);
    }
    &::after{
        @include shadow-after(27%);
    }

   }
   }
   &--training{

    &-pl{
       @include action-border($color-training,33%,14.55vmin);
       &::before{
        @include shadow-before(34%);
        z-index:-1;
    }
    &::after{
        @include shadow-after(34%);
        z-index:-1;
    }
    }

        &-eng{
            @include action-border($color-training,33%,14.55vmin);
            &::before{
             @include shadow-before(34%);
             z-index:-1;
         }
         &::after{
             @include shadow-after(34%);
             z-index:-1;
         }

        }
   }
   

      
   &__button-box{
       position:absolute;
    //    border:1px solid red;
       width:90%;
       @include flex-space_between;
       
         &--raid, 
         &--provocation,
         &--recon,
         &--wiretapping{
             left:5%;
             top:60%;
            left:50%;
            top:110%;
            transform: translate(-50%, -50%);

         }

       &--training{
           top:18%;
           left:5%;
           top:68%;
           left:50%;
            transform: translate(-50%, -52%);
       }
       }


    &--other{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items:left;
     
    }

    &__form{
        display:inline;
        position:absolute;
        top:0;
        left:55%;

        &--group{
            display:inline;
        }
    
    }

   &__input{
    
    display:none;

      &-label{
        position:relative;
        cursor: pointer;
        margin:0 2vmin;
      
      }

      &-checkbox{
          position:absolute;
         top:.5vmin;
         left:-.5vmin;
          width:3vmin;
          height:3vmin;
          border-radius: 50%;
          background: transparent;
          border:$color-blue-checkbox solid .1vmin;

          &::after{
              content:'';
              display:inline-block;
              width:3vmin;
              height:3vmin;
              border-radius: 50%;
              position:absolute;
              top:50%;
              left:50%;
              transform: translate(-50%,-50%);
            background:$color-blue-glow;
            border:$color-blue-checkbox solid .1vmin;
            box-shadow:$color-blue-checkbox 0vmin 0vmin 1vmin .2vmin;
            opacity:0;
          }

      }
      &:checked ~ &-label &-checkbox::after{
          opacity:1;
      }
   }
}
