.footer{
    width:97vw;
    height:7vmin;
    position:Absolute;
    left:0;
    top:91%;
    @include flex-space_between;
    z-index:-1;

    &__logo-box{
        width:25vmin;
        height:auto;
        display:inline;
        text-align:Center;

        &>img{
            width:100%;
        }
    }
    &__logogame-box{
        width:15vmin;
        height:auto;
        display:inline;
        text-align:right;

        &>img{
            width:50%;
        }
    }
}