.header{
    width:91vw;
    height:9vmin;
    display:grid;
    grid-template-columns: 51% 22% 20%;
    grid-gap:5%;
    align-items: center;
    position:relative;
    margin-top:.3vmin;

    &__text-box{
        max-width:88%;
        display:inline-block;
    }

    &__button-box{
        display:flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 1vmin;
    }

    &__popup{
        width:80%;
        height:5%;
        display:inline-block;
        margin:2.4vmin 5vmin 3.6vmin 2vmin;
       
    }
}