.player-box{
    border:2px solid $color-grey;
    position:relative;

    &__img{
        @include img-position; 

        &--smaller{
            width:33%;
            height:auto;
            position:absolute;
            top:-7%;
            left:-7%;
         }
     }

    &__name{
        position:absolute;
        top:16%;
        left:52%;
        width:55%;

        transform:translate(-50%, -50%);
        @include flex-row-center;
        

        &--filled{
        position:Absolute;
        top:13%;
        left:65%;
        width:58%;
        text-align:center;
        transform:translate(-50%, -50%);

        }
    }

    &__link{
        text-decoration: none;
        color:$color-button-text-black;
    }

    &__decision{
        @include player-box-properities;

        .decision-box{
               width:92%;
               height:30%;
               @include flex-row-center;
               box-shadow: .2vmin .3vmin .5vmin .2vmin rgba($color-black,.5);

              
               &__left{
                  @include decision-box-properities;
                   color:$color-black;

                   &--raid{
                    background-color: $color-raid;
                   }
                   &--provocation{
                    background-color: $color-provocation;
                   }
                   &--recon{
                    background-color:$color-recon;
                   }
                   &--wiretapping{
                    background-color: $color-wiretapping;
                   }

                   &--training{
                       background-color: $color-training;
                       width:35%;
                   }
                   &--rest{
                    background-color: $color-rest;
                   }
                   &--observation{
                       background-color: $color-observation;

                   }
                   &--analysis{
                    background-color: $color-analysis;
                   }
               }

               &__right{
                @include decision-box-properities;
                    color:$color-text-white;
                   text-shadow: 0 0 .6vmin rgba($color-black, .7);


                   &--raid{
                       @include background-blend($color-raid,('../img/mask__box-train.png') );
                   }
                   &--provocation{
                    @include background-blend($color-provocation,('../img/mask__box-train.png') );
                   }
                   &--recon{
                    @include background-blend($color-recon,('../img/mask__box-train.png') );
                   }
                   &--wiretapping{
                    @include background-blend($color-wiretapping,('../img/mask__box-train.png') );
                   }

                   &--training{
                       width:65%;
                       @include background-blend($color-training,('../img/mask__box-training.png') );
                   }
                   &--rest{
                    @include background-blend($color-rest,('../img/mask__box-clock.png') );
                   }
                   &--observation{
                    @include background-blend($color-observation,('../img/mask__box-clock.png') );
                   }
                   &--analysis{
                    @include background-blend($color-analysis,('../img/mask__box-clock.png') );
                   
                   }
                 
               }

              
        }
    }
    &__analysis{
        @include player-box-properities;

        .analysis-box{
            width:92%;
            height:30%;
           @include flex-row-center;
            box-shadow: .2vmin .3vmin .5vmin .2vmin rgba($color-black,.5);

            &__left{
                @include decision-box-properities;
                background-color: $color-analysis;
                color:$color-black;

            }
            &__right{
                @include decision-box-properities;
                background:linear-gradient(to right,
                rgba($color-analysis-lighter,.6)
                rgba($color-analysis-lighter,.6))
                ,url(../img/mask__analysis.png)center center/cover;
                filter:brightness(120%);
                background-blend-mode:multiply;
                text-shadow: .1vmin .1vmin .9vmin rgba($color-blue-glow, .9);

            
            }
          
        }
        .analysis-effect{
            width:92%;
            height:66%;
            display:flex;
            justify-content:space-between;
            align-items: center;
          
            
            &-left,
            &-right{
                width:49%;
                height:100%;
             @include flex-column-center;
             box-shadow: .2vmin .3vmin .5vmin .2vmin rgba($color-black,.5);
            }

            &-top{
                width:100%;
                height:55%;
                @include flex-column-left;
                color:$color-text-white;
                text-shadow: 0 0 .6vmin rgba($color-black, .7);
              
               
                
                &--raid{
                    @include background-blend($color-raid,('../img/mask__analysis-effect.png') );  
                }
                &--provocation{
                    @include background-blend($color-provocation,('../img/mask__analysis-effect.png') );
                }
                &--recon{
                    @include background-blend($color-recon-lighter,('../img/mask__analysis-effect.png') );
                }
                &--wiretapping{
                    @include background-blend($color-wiretapping,('../img/mask__analysis-effect.png') );
                }
                &--other{
                    @include background-blend($color-analysis-lighter, ('../img/mask__analysis-effect.png') );
                    // filter:brightness(100%);
                }
            }
            &-bottom{
                width:100%;
                height:45%;
                color:$color-black;
                @include flex-column-left;
               
                    &--raid{
                    background-color: $color-raid;
                   }
                   &--provocation{
                    background-color: $color-provocation;
                   }
                   &--recon{
                    background-color:$color-recon-lighter;
                   }
                   &--wiretapping{
                    background-color: $color-wiretapping;
                   }
                   &--other{
                    background-color: $color-analysis;
                   }

            }
        }
        .analysis__dices{
            @include flex-row-center;
            width:100%;
            height:100%;
          

            .dice{
                @include flex-column-center;
               width:30%;
               height:70%;
               position:relative;

               &__img{
                   width:75%;
                   height:100%;
                   position:Absolute;
                   top:50%;
                   left:50%;
                   transform:translate(-50%,-50%);
                   z-index:1;
                
               }
            }
            }
       

    }
        &__dices{
            position:absolute;
            width:90%;
            height:70%;
            top:27%;
            left:5%;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            

            .dice-effect{
                display:flex;
                flex-direction: column;
                justify-content:flex-start;
                align-items: center;
            width:25%;
            height:45%;
            margin: 0 4%;
            position:relative;
            

                .single-dice{
                    @include flex-column-center;
                    width:70%;
                    height:60%;
                    position:relative;
                    margin-bottom:.4vmin;
                    filter:contrast(130%);
                    

                        &__frame{
                            width:100%;
                        height:100%;
                        position:Absolute;
                        top:50%;
                        left:50%;
                        transform:translate(-50%,-50%);
                        z-index:1;
                        filter:brightness(110%) contrast(110%);
                        
                            }
                        &__img{
                            width:100%;
                            height:100%;
                            position:Absolute;
                            top:50%;
                            left:50%;
                            transform:translate(-50%,-50%);
                            z-index:0;
                        }

                }

          
            }         

        } 
    &__results{
        position:absolute;
        width:90%;
        height:70%;
        top:28%;
        left:5%;
        display:flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;

        .results-box{
            width:50%;
            height:60%;
            position:relative;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        

            &--final{
                position:relative;
                width:50%;
                height:35%;
                display:flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            .points-box{
            position:relative;
            width:60%;
            height:50%;
            display:flex;
            align-items: center;
            justify-content:center;

            .points{
                position:relative;
                width:6vmin;
                height:6vmin;

                &--final{
                    position:relative;
                    width:7vmin;
                height:7vmin;

                }
             
                &__img{
                    width:90%;
                    height:100%;
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    filter:invert(80%)contrast(150%)brightness(150%);

                  
                }
                &__text{
                    font-size: 3vmin;
                    color:$color-button-text-black;
                    z-index:2;
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                }
            }

            }
                
            }
        }
      
        .arrow{
            height: 1.6vmin;
             width: 1.6vmin;
            border: .4vmin solid rgba($color-text-blue-light, .9);
            border-width: .4vmin .4vmin 0 0;
                &--left{
                    transform: rotate(224deg);
                }
                &--right{
                    transform: rotate(45deg);
                }
                &--bottom{
                    transform: rotate(135deg);
                }
        }   
            
    } 
    



  
.form__name{
    .name-input{
        border:none;
        background:transparent;
        text-align:center;
        width:90%;
        transition: all .4s;
        overflow:hidden;
        position:relative;
        backface-visibility: hidden;
       resize: none;
        
        &::placeholder{
            color:$color-text-white;
            transition: all .4s;
        } 

        &:hover{
            filter:brightness(70%);
           
        } 
        &:focus{
            outline:none;
            filter:brightness(90%);
            text-shadow: 0rem 0rem .4rem $color-text-white;
        }
    
    }
    &-icon{
        position:Absolute;
        top:10%;
        left:90%;
        width:10%;
        opacity:0;
        transition: all .4s;
    }

    &:hover &-icon,
    &:focus &-icon{
        opacity:1;
        cursor: pointer;
    }


}

