.btn{
    &,
    &:link,
    &:visited {
        font-family: "Russo One Regular";
        color:$color-button-text-black;
        background:transparent;
        display:inline-block;
        text-align:center;
        backface-visibility: hidden;
        cursor:pointer;
        position:relative;
        
        border:0.5vmin solid $color-blue-glow;
        border-radius: 2%;
        box-shadow:0vmin .1vmin .1vmin .1vmin rgba($color-button-shadow,.7);
        z-index: 20;
        transition:all ease-in .2s;
       
        }

        &::before{
            content:"";
            background:rgba($color-grey-background, .8);
            backdrop-filter: blur(1.2vmin)brightness(200%);
             -webkit-backdrop-filter: blur(1.2vmin)brightness(200%);
            box-shadow:inset 0vmin .1vmin .1vmin .1vmin rgba($color-button-shadow,.7);
        }
    &:hover{
        box-shadow:0vmin .2vmin .8vmin .1vmin rgba($color-button-shadow,.7);

        &::before{
            box-shadow:inset 0vmin .2vmin .8vmin .1vmin rgba($color-button-shadow,.7);
        }
    }
    &:active,
    &:focus{
        filter:brightness(170%);
    }


    &--decision{
        width:16vmin;
        height:6vmin;
        position:Absolute;
       top:88%;
       left:50%;
       transform: translate(-50%,-50%);
        margin:0 auto;
        z-index: 1;

        &::before{
            content:"";
            width:15.4vmin;
            height:5.4vmin;
            z-index: -10;
            position:Absolute;
            z-index:-1;
            top:-4%;
            left:-1%; 
            }
        }
    &--change{
        width:20vmin;
        height:4.4vmin;
        position:Absolute;
       top:92%;
       left:50%;
       transform: translate(-50%,-50%);
        margin:0 auto;
        z-index: 1;

        &::before{
            content:"";
            width:19.2vmin;
            height:3.6vmin;
            z-index: -10;
            position:Absolute;
            z-index:-1;
            top:-4%;
            left:-.5%; 
            }
        } 
    

    &--accept{
        width:16vmin;
        height:4vmin;
        position:Absolute;
        top:79%;
        left:46%;

        &::before{
            content:"";
            width:15.3vmin;
            height:3.1vmin;
            z-index: -2;
            position:Absolute;
            top:-3%;
            left:-1%; 
            }

    }
 }

 .btn-header{
    &,
    &:link,
    &:visited{
        display:inline-block;
        cursor:pointer;
        border:none;
        background:transparent;
        transition: all .2s;
        box-shadow: .3vmin .3vmin .6vmin rgba($color-button-text-black,.7);
    }

    &:hover{
        transform:translateY(.2vmin);
        box-shadow: .5vmin .5vmin .8vmin rgba($color-button-text-black,.7);
    }
    &:active,
    &:focus{
        filter:brightness(120%);
        transform:translateY(.1vmin);
    }

   &--function{
    height:7vmin;
    width:18vmin;
    background: url("../img/zakończ\ dzień.png")no-repeat center/cover;
   }

   &--tylda{
    height:7vmin;
    width:7vmin;
    background:url("../img/tylda.png")no-repeat center/contain;
   }
}

.btn-popup{
display:inline-block;
text-align:center;
 width:32%;
 height:auto;
 padding:.9vmin 1vmin;
 border-radius: 3vmin;
 margin-bottom:.8vmin;
 z-index:1;
 position:relative;
 overflow:hidden;
 background:transparent;
 border:none;
 transition: all ease-out .3s;

 &::before{
    content:'';
    position:Absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    background:linear-gradient(to right,rgba($color-black,.4)rgba($color-black,.4)),url(../img/mask.png)center center/cover;
    opacity:.2;
    background-blend-mode:multiply;
    filter:brightness(70%) contrast(200%);
    overflow: hidden;
    z-index: -1;
    transition: all ease-in .2s;
   
 }
        &:hover{
            cursor:pointer;
            transform: translateY(-.1vmin);
            backface-visibility: hidden;
            // animation-fill-mode: backwards;

            & .btn-popup-text{
                color:rgba($color-text-white,.5);
                text-shadow:rgba($color-black, .8) .2vmin .2vmin .5vmin;
            }
        }

            &--raid{
                @include action-default-color($color-raid);
                &:hover::before{
                    @include background-blend-popup($color-raid);

                }
              
            }
            &--provocation{
                @include action-default-color($color-provocation);
                &:hover::before{
                    @include background-blend-popup($color-provocation);
                }
            }
            &--recon{
                @include action-default-color($color-recon);
                filter:brightness(120%);
                &:hover::before{
                    @include background-blend-popup($color-recon);
                }
            }
            &--wiretapping{
                @include action-default-color($color-wiretapping);
                &:hover::before{
                    @include background-blend-popup($color-wiretapping);
                }
            }

            &--training{
            color:rgba($color-training-darker, .9);
            border:rgba($color-training, .8) .3vmin solid;
            &:hover::before{
                @include background-blend-popup($color-training);
            }
            }

    &-clicked{
        filter:brightness(100%);
        border:rgba($color-blue-glow, 1) .3vmin solid;
        box-shadow: 0vmin 0vmin .7vmin .4vmin rgba($color-blue-glow, .7);
        transition: all ease-out .3s;

        & .btn-popup-text{
        color:rgba($color-text-white, .9);
        text-shadow:rgba($color-black, .7) .3vmin .3vmin .3vmin;
        }
        &:hover{
             filter:drop-shadow(0 0 1vmin rgba($color-blue-glow, .9) );
          
        }
        &--raid{
            &::before{
             @include background-blend-clicked($color-raid);
            }
        }
        &--provocation{
            &::before{
             @include background-blend-clicked($color-provocation);
            }
        }
       &--recon{
           &::before{
            @include background-blend-clicked($color-recon);
           }
       }
       &--wiretapping{
        &::before{
         @include background-blend-clicked($color-wiretapping);
            }
        }
        &--training{
            &::before{
             @include background-blend-clicked($color-training);
            }
         }           
        }  
        &:focus{
            box-shadow: .2vmin .2vmin .5vmin .2vmin rgba($color-black, .5), 0vmin 0vmin .7vmin .4vmin rgba($color-blue-glow, .4);
          transform:translateY(.2vmin);
        }    
         &--learned{
            color:rgba($color-text-white, .6);
            border:rgba($color-blue-glow, .6) .2vmin solid;
            box-shadow: 0vmin 0vmin .8vmin .1vmin rgba($color-blue-glow, .4),inset 0vmin 0vmin .1vmin  rgba($color-blue-glow, .6) ;

                &::before{
                    filter:brightness(120%);
                    opacity:.5;
                }
            &:hover{
            cursor: default;
            transform:none;
    
                & .btn-popup-text{
                    color:rgba($color-text-white, .6);
                    text-shadow:none;
                }
                &::before{
                    filter:brightness(120%);
                    opacity:.5;
                }
            }
            &:focus{
            box-shadow: 0vmin 0vmin .8vmin .1vmin rgba($color-blue-glow, .4),inset 0vmin 0vmin .1vmin  rgba($color-blue-glow, .6) ;
            transform:none;
            }           
            
         }        
               
}
.btn-information{
    &,
    &:link,
    &:visited{
    position:absolute;
    top:40%;
    left:83%;
    cursor:pointer;
        height:10vmin;
        width:10vmin;
        background:url("../img/dalej-button.png")no-repeat center/contain;
        border:none;
        transition:all .2s;
     

        &:hover{
            transform:translateY(.2vmin);
            filter:brightness(90%);
            border:none;
        }
        &:active,
        &:focus{
            filter:brightness(120%);
            transform:translateY(.1vmin);
        }

}
}




    


