*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html{
  font-size:62.5%;
  // podstawa rozliczenia na stronie - 10px
}

body{
  padding:1vmin 3vmin;
  width:100vw;
  height:100vmin;
  overflow-x:hidden;
  overflow-y:hidden;
  background:url(../img/bg.png);
  background-size: cover;
 
}
