
    @font-face{
        font-family:"Russo One Regular";
        src:url(../fonts/RussoOne-Regular.ttf);
    }
    @font-face{
        font-family:'Capsuula';
        src:url(../fonts/Capsuula.ttf);
    }
    @font-face{font-family:"Free Pixel" ;
        src: url(../fonts/FreePixel.ttf);}


.heading-primary{
   
    font-size:3.5vmin;
    text-transform: uppercase;
    font-weight: 400;
    display:inline-block;
    background-clip:text;
    -webkit-background-clip: text;
    color:transparent;
    letter-spacing:0.2vmin;
    position:relative;
  
  
    
        &--main{
            @include  text-background ( $color-text-blue-dark,$color-text-blue-light);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            padding-left:10vmin;
            text-shadow: .1rem .1rem .8rem rgba($color-text-blue-light, .5);

            &::before{
                content:"";
                width:6vmin;
                height:.4vmin;
                border-radius:5px;
                position:absolute;
                background:$color-text-blue-dark;
                box-shadow: 0rem 0rem 1rem rgba($color-text-blue-light, .7);
                top:45%;
                left:4%;    
            } 
            &::after{
                content:"";
                width:22vmin;
                height:.4vmin;
                border-radius:5px;
                position:absolute;
                background:$color-text-blue-dark;
                box-shadow: 0rem 0rem 1rem rgba($color-text-blue-light, .7);
                top:45%;
                right:0; 
                transform:translatex(110%);   
            }       
        }

        &--smaller{
            @include  text-background ( $color-text-blue-dark,$color-text-blue-light);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            text-shadow: .1rem .1rem .8rem rgba($color-text-blue-light, .5); 
            font-size:90%;   
            margin-left:30vmin; 
        }

        &--raid{
            @include text-background ($color-raid,$color-raid-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            &::before{
                content:'nalot';
                @include text-background-before;
            }

            &-eng{
                @include text-background ($color-raid,$color-raid-lighter);
                background-clip:text;
                -webkit-background-clip: text;
                color:transparent;
                &::before{
                    content:'Raid';
                    @include text-background-before;
                }

            }
        }
        &--provocation{
            @include text-background ($color-provocation,$color-provocation-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
            &::before{
                content:'prowokacja';
                @include text-background-before;
            }
            &-eng{
                @include text-background ($color-provocation,$color-provocation-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
            &::before{
                content:'provocation';
                @include text-background-before;
            }
            }
        }
        &--recon{
            @include text-background ($color-recon,$color-recon-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
            &::before{
                content:'rekonesans';
                @include text-background-before;
            }
            &-eng{
                @include text-background ($color-recon,$color-recon-lighter);
                background-clip:text;
                -webkit-background-clip: text;
                color:transparent;
                position:relative;
                &::before{
                    content:'recon';
                    @include text-background-before;
                }

            }
        }
        &--wiretapping{
            @include text-background ($color-wiretapping,$color-wiretapping-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
            &::before{
                content:'podsłuch';
                @include text-background-before;
            }
            &-eng{
                @include text-background ($color-wiretapping,$color-wiretapping-lighter);
                background-clip:text;
                -webkit-background-clip: text;
                color:transparent;
                position:relative;
                &::before{
                    content:'wiretapping';
                    @include text-background-before;
                }

            }
        }
        &--training{
            @include text-background ($color-training,$color-training-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
            &::before{
                content:'trening';
                @include text-background-before;
            }
            &-eng{
                @include text-background ($color-training,$color-training-lighter);
                background-clip:text;
                -webkit-background-clip: text;
                color:transparent;
                position:relative;
                &::before{
                    content:'training';
                    @include text-background-before;
                }  
            }
        }

        &--rest{
            @include text-background ($color-rest,$color-rest-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
            display:inline-block;
            max-width:50%;
            &::before{
                content:'Odpoczynek';
                @include text-background-before;
            }
            &::after{
                content:"";
                width: 5vmin;
                height:.15vmin;
                border-radius:5px;
                position:absolute;
                background:$color-raid;
                box-shadow: 0rem 0rem 1rem rgba($color-black, .7);
                top:45%;
                right:0; 
                transform:translatex(115%); 
            }
            &-eng{
                @include text-background ($color-rest,$color-rest-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
            display:inline-block;
            max-width:50%;
            &::before{
                content:'Rest';
                @include text-background-before;
            }
            &::after{
                content:"";
                width: 21vmin;
                height:.15vmin;
                border-radius:5px;
                position:absolute;
                background:$color-raid;
                box-shadow: 0rem 0rem 1rem rgba($color-black, .7);
                top:45%;
                right:0; 
                transform:translatex(105%); 
            }

            }
        }

        &--observation{
            @include text-background ($color-observation,$color-observation-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
             max-width:50%;
            &::before{
                content:'Obserwacja';
                @include text-background-before;
            }
            &::after{
                content:"";
                width: 5vmin;
                height:.2vmin;
                border-radius:5px;
                position:absolute;
                background:$color-raid;
                box-shadow: 0rem 0rem 1rem rgba($color-black, .7);
                top:45%;
                right:0; 
                transform:translatex(115%); 

            }
            &-eng{
                @include text-background ($color-observation,$color-observation-lighter);
                background-clip:text;
                -webkit-background-clip: text;
                color:transparent;
                position:relative;
                 max-width:50%;
                &::before{
                    content:'Observation';
                    @include text-background-before;
                }
                &::after{
                    content:"";
                    width: 3.8vmin;
                    height:.2vmin;
                    border-radius:5px;
                    position:absolute;
                    background:$color-raid;
                    box-shadow: 0rem 0rem 1rem rgba($color-black, .7);
                    top:45%;
                    right:0; 
                    transform:translatex(112%); 
    
                }

            }
        }
        &--analysis{
            @include text-background ($color-analysis,$color-analysis-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
            max-width:50%;
            &::before{
                content:'Analiza';
                @include text-background-before;
            }
            &::after{
                content:"";
                width: 13vmin;
                height:.2vmin;
                border-radius:5px;
                position:absolute;
                background:$color-raid;
                box-shadow: 0rem 0rem 1rem rgba($color-black, .7);
                top:45%;
                right:0; 
                transform:translatex(110%); 
            }  

            &-eng{
                @include text-background ($color-analysis,$color-analysis-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
            max-width:50%;
            &::before{
                content:'Analysis';
                @include text-background-before;
            }
            &::after{
                content:"";
                width: 11vmin;
                height:.2vmin;
                border-radius:5px;
                position:absolute;
                background:$color-raid;
                box-shadow: 0rem 0rem 1rem rgba($color-black, .7);
                top:45%;
                right:0; 
                transform:translatex(110%); 
            }  
            }
        }
}
        
       
.heading-secondary{
    font-size:2.2vmin;
    color:$color-text-white;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing:0.1vmin;
    mix-blend-mode: lighten;  
}
.btn__text{
    font-family:"Russo One Regular";
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:inline;
    text-align:center;
    backface-visibility: hidden;
    filter:contrast(120%);
    font-size:1.6vmin;
    letter-spacing: .1vmin;
    opacity:1;
    z-index:2;
    transition: all .2s;

    &:hover{
        opacity:.7;
        transform:translateY(.1vmin)translate(-50%,-50%);
    }
    
}
.btn-popup-text{
    font-family:"Russo One Regular";
    font-size:1.7vmin;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing:0.2vmin;
    text-shadow:$text-shadow;
    transition: all .5s;
    filter: contrast(120%)brightness(110%);
    transition: all ease-out .3s;

     &--smaller{
     font-size:1.3vmin;
     }
  
}


.timer__text{
    font-size:1.3vmin;
    text-transform: uppercase;
    font-weight: 400;
    color:$color-blue-glow;
}
.timer__count{
    font-family:"Free Pixel", sans-serif;
    font-weight: 300;
    color:$color-blue-glow;
    font-size:3vmin;
}

.decision__text{
    font-size:2vmin;
    text-transform: uppercase;
    font-weight: 400;
    padding:1vmin;
   

}
.dice__text{
    font-size:1.9vmin;
    text-transform: uppercase;
    font-weight: 400;
    color:$color-text-white;
    z-index:2;
    text-shadow: -.5px 0 $color-black, 0 0.5px $color-black, .5px 0 $color-black, 0 -.5px $color-black;

    &--single{
    color:$color-text-white;
    z-index:2;
    text-shadow: -.5px 0 $color-black, 0 0.5px $color-black, .5px 0 $color-black, 0 -.5px $color-black;
    font-size:3vmin;
    }
}
.dice-effect__label{
    display:inline-block;
    text-align:center;
    color:$color-text-white;
    font-size:1.4vmin;
    text-transform: uppercase;
    margin-top:.2vmin;

}
.analysis__text{
    font-size:2.5vmin;
    text-transform: uppercase;
    font-weight: 400;
    padding-left:1vmin;
    line-height: 0.9;

    &--smaller{
        font-size: 1.8vmin;
        text-transform: uppercase;
        font-weight: 400;
        padding-left:1vmin;
    }
}

.information__text{
    font-family:'Capsuula';
    color:$color-white;
    font-size:3vmin;
    line-height: 130%;
    letter-spacing: .1vmin;
    display:inline-block;
    margin-bottom:1vmin;
   

    &--float{
        width:50%;
        height:auto;
        float:left;
    }
}


