
    @font-face{
        font-family:"Russo One Regular";
        src:url(../fonts/RussoOne-Regular.ttf);
    }
    @font-face{
        font-family:'Capsuula';
        src:url(../fonts/Capsuula.ttf);
    }
    @font-face{font-family:"Free Pixel" ;
        src: url(../fonts/FreePixel.ttf);}


.heading-primary{
    font-family:"Russo One Regular", sans-serif ;
    font-size:3.5vmin;
    text-transform: uppercase;
    font-weight: 400;
    display:inline-block;
    background-clip:text;
    -webkit-background-clip: text;
    color:transparent;
    letter-spacing:0.2vmin;
    position:relative;
  
  
    
        &--main{
            @include  text-background ( $color-text-blue-dark,$color-text-blue-light);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            padding-left:10vmin;
            text-shadow: 0rem 0rem .5rem rgba($color-text-blue-light, .5);

            &::before{
                content:"";
                width:6vmin;
                height:.4vmin;
                border-radius:5px;
                position:absolute;
                background:$color-text-blue-dark;
                box-shadow: 0rem 0rem 1rem rgba($color-text-blue-light, .7);
                top:45%;
                left:4%;    
            } 
            &::after{
                content:"";
                width:22vmin;
                height:.4vmin;
                border-radius:5px;
                position:absolute;
                background:$color-text-blue-dark;
                box-shadow: 0rem 0rem 1rem rgba($color-text-blue-light, .7);
                top:45%;
                right:0; 
                transform:translatex(110%);   
            }       
        }

        &--raid{
            @include text-background ($color-raid,$color-raid-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            &::before{
                content:'nalot';
                @include text-background-before;
            }
        }
        &--provocation{
            @include text-background ($color-provocation,$color-provocation-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
            &::before{
                content:'prowokacja';
                @include text-background-before;
            }
        }
        &--recon{
            @include text-background ($color-recon,$color-recon-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
            &::before{
                content:'rekonesans';
                @include text-background-before;
            }
        }
        &--wiretapping{
            @include text-background ($color-wiretapping,$color-wiretapping-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
            &::before{
                content:'podsłuch';
                @include text-background-before;
            }
        }
        &--training{
            @include text-background ($color-training,$color-training-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
            &::before{
                content:'trening';
                @include text-background-before;
            }
        }

        &--rest{
            @include text-background ($color-rest,$color-rest-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
            display:inline-block;
            max-width:50%;
            &::before{
                content:'Odpoczynek';
                @include text-background-before;
            }
            &::after{
                content:"";
                width: 3vmin;
                height:.15vmin;
                border-radius:5px;
                position:absolute;
                background:$color-raid;
                box-shadow: 0rem 0rem 1rem rgba($color-black, .7);
                top:45%;
                right:0; 
                transform:translatex(110%); 

            }
        }

        &--observation{
            @include text-background ($color-observation,$color-observation-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
             max-width:50%;
            &::before{
                content:'Obserwacja';
                @include text-background-before;
            }
            &::after{
                content:"";
                width: 3vmin;
                height:.1vmin;
                border-radius:5px;
                position:absolute;
                background:$color-raid;
                box-shadow: 0rem 0rem 1rem rgba($color-black, .7);
                top:45%;
                right:0; 
                transform:translatex(110%); 

            }
        }
        &--analysis{
            @include text-background ($color-analysis,$color-analysis-lighter);
            background-clip:text;
            -webkit-background-clip: text;
            color:transparent;
            position:relative;
            max-width:50%;
            &::before{
                content:'Analiza';
                @include text-background-before;
            }
            &::after{
                content:"";
                width: 11vmin;
                height:.2vmin;
                border-radius:5px;
                position:absolute;
                background:$color-raid;
                box-shadow: 0rem 0rem 1rem rgba($color-black, .7);
                top:45%;
                right:0; 
                transform:translatex(105%); 
               

            }
            
        }
}
        
       
.heading-secondary{
    font-family:"Russo One Regular", sans-serif ;
    font-size:2.2vmin;
    color:$color-text-white;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing:0.1vmin;
    mix-blend-mode: lighten;  
}
.btn__text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:inline-block;
    text-align:center;
    backface-visibility: hidden;
    filter:contrast(120%);
    font-size:1.6vmin;
    letter-spacing: .1vmin;
    opacity:1;
    z-index:2;
    transition: all .2s;

    &:hover{
        opacity:.7;
        transform:translateY(.1vmin)translate(-50%,-50%);
    }
    
}
.btn-popup-text{
    font-family:"Russo One Regular", sans-serif ;
    font-size:1.7vmin;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing:0.2vmin;
    text-shadow:$text-shadow;
    transition: all .5s;

     &--smaller{
     font-size:1.2vmin;
     }
  
}


.timer__text{
    font-family:"Russo One Regular", sans-serif ;
    font-size:1.3vmin;
    text-transform: uppercase;
    font-weight: 400;
    color:$color-blue-glow;
}
.timer__count{
    font-family:"Free Pixel", sans-serif;
    font-weight: 300;
    color:$color-blue-glow;
    font-size:3vmin;
}


