.popup {
    width:100vw;
    height:105vmin;
    background: rgba($color-black, 0.4);
    position: fixed;
    top: 48%;
    left: 50%;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    display: block;
    backdrop-filter: contrast(100%)blur(2vmin) !important;
    transition: all 0.3;
    transform: translate(-50%, -50%);

    &:target {
        opacity: 1;
        visibility: visible;
        z-index: 10;
        position: fixed;
        display: block;
    }
    


    &__content{
        width:64vw;
        height:80vmin;
        position:Absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        background:url(../img/bg.png), ;
        background-size: cover;
        border-radius: 1.2vmin;
        box-shadow: 1vmin 1.4vmin 2vmin.7vmin rgba($color-black,.7);
      
    }

    &__actions{
        width:95%;
        height:72%;
        margin:0 auto;
    }
}