.popup__content{

    &--smaller{
        width:44vw;
        height:58vmin;
        position:Absolute;
        top:50%;
        left:50%;
        padding:2.5vmin;
        transform:translate(-50%, -50%);
        background:url(../img/bg.png), ;
        background-size: cover;
        border:.4vmin solid $color-blue-glow;
        border-radius: 1.2vmin;
        box-shadow: 1vmin 1.4vmin 2vmin.7vmin rgba($color-black,.7),inset 0vmin 0vmin 1.2vmin .3vmin rgba($color-text-blue-light, .5);
        position:relative;
    }

    .information-content{
        width:78%;
        height:85%;
       position:Absolute;
       top:12%;
       left:5%;
        padding:.5vmin;
        font-family:'Capsuula';
        @include flex-column-left;
    }
    .information__players-list{
        width:100%;
        height:auto;
        margin:1vmin auto;
     
        
    }

}